<section class="hero is-fullheight is-default is-bold bg_image">
    <div class="hero-body">
        <div class="container has-text-centered move">


                    <h1 class="title is-2">
                        Eagle Rider
                    </h1>
                    <h2 class="subtitle is-4">
                        Bus Routes made easy
                    </h2>
                    <br>
                    <p class="has-text-centered">
                        <a routerLink='/map' class="button is-medium is-info is-outlined">
                            Get Started
                        </a>
                    </p>


        </div>
    </div>
</section>
<script src="../js/bulma.js"></script>
